.przycisk {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db; 
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.hover-btn:hover {
    background-color: #e74c3c; 
    transform: scale(1.1); 
}