
* {
    font-family: "Century Gothic", Arial;
}

body {
    background-color: BlanchedAlmond;
}

header, footer {
    background-color: Sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}

#lewa {
    background-color: NavajoWhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px DimGray;
    display: inline-block;
    vertical-align: top;
}

nav {
    width: 50%;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

#prawa {
    width: 50%;
    height: 420px;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
}

input, button {
    margin-top: 20px;
}

li {
    display: inline-block;
}

img {
    width: 10%;
    float: right;
}

a {
    color: Sienna;
    margin-right: 30px;
}

a:hover {
    color: #4C1900;
}
